@import "base";

.projects-component {
  height: 100%;
  max-width: 980px;
  margin: auto;
  * {
    outline: none;
    font-style: normal;
    box-sizing: border-box;
  }
  .content {
    position: relative;
    height: 100%;
    max-width: 980px;
    margin: auto;
    .breadcrumb-wrapper {
      padding-top: 30px;
      padding-bottom: 20px;
      line-height: 17px;
      .ant-breadcrumb-link {
        font-size: 1rem;
        color: @primary-color;
      }
      .breadcrumb-nav {
        text-align: right;
        .ant-search-input-wrapper{
          text-align: left;
          .ant-input-group{
            .ant-input-group-wrap{
              .ant-btn{
                padding: 9px 15px;
              }
            }
          }
        }
        .ant-switch {
          background-color: @primary-color;
          border-color: @primary-color;
          .ant-switch-inner {
            top: 2px;
            .iconfont {
              font-size: 18px;
            }
          }
          &.ant-switch-checked {
            .ant-switch-inner {
              left: 3px;
            }
          }
        }
      }
    }
    .projects-wrapper {
      .quotes {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          width: 100%;
          line-height: 2.5rem;
          box-sizing: border-box;
          margin: 1.5rem 0;
          box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2);
          border-radius: 5px;
          .platforms {
            width: 40%;
            overflow: hidden;
            padding: 1rem;
            background-color: #596169;
            box-sizing: border-box;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            .icons {
              height: 100%;
              width: 100%;
              display: table;
              .icon-wrapper {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                .iconfont {
                  color: #ffffff;
                  width: 6rem;
                  height: 6rem;
                  font-size: 4.5rem;
                  margin: 1rem;
                }
              }
            }
          }
          .detail {
            width: 60%;
            background: #fff;
            padding: 2rem 3.1rem;
            box-sizing: border-box;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            h1 {
              font-size: 2.5rem;
              line-height: 3.5rem;
              margin: 0;
              color: #2d3238;
            }
            p {
              margin: .2rem 0 0;
              font-size: 1rem;
              line-height: 1.4rem;
              color: #979fa8;
            }
            .info {
              margin: 2rem 0 1.5rem;
              padding: 1rem 0;
              border-top: 1px solid #979fa8;
              border-bottom: 1px solid #979fa8;
              .counts, .time {
                font-size: 1rem;
                color: #2d3238;
                line-height: 1.4rem;
                margin: .5rem 0;
                em {
                  margin-right: .5rem;
                  font-size: 1.5rem;
                  font-style: normal;
                  color: @primary-color;
                }
              }
              .time {
                em {
                  font-size: 1rem;
                }
              }
            }
            .opera-buttons {
              .ant-btn {
                float: left;
                margin-right: 1rem;
                &:last-child {
                  display: none;
                  float: right;
                  margin-right: 0;
                  border-color: #E61E0B;
                  color: #E61E0B;
                }
              }
            }
          }
          &:hover {
            .detail {
              .opera-buttons {
                .ant-btn {
                  &:last-child {
                    display: block;
                  }
                }
              }
            }
          }
        }
        &.grid-view {
          li {
            width: 280px;
            float: left;
            position: relative;
            margin-right: 70px;
            margin-bottom: 50px;
            box-shadow: none;
            border: none;
            overflow: hidden;
            &:nth-child(3n) {
              margin-right: 0;
            }
            .platforms-folder {
              width: 100%;
              background: url("../images/folder.png");
              background-size: 100% 100%;
              overflow: hidden;
              padding: 1rem;
              box-sizing: border-box;
              box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2);
              //border: 1px solid #f40;
              border-top-left-radius: 22px;
              border-bottom-left-radius: 22px;
              border-bottom-right-radius: 22px;
              .time {
                width: 38%;
                height: 30px;
                line-height: 12px;
                padding: 0 .5rem;
                display: block;
                color: #ffffff;
                font-size: 12px;
                text-align: center;
                overflow: hidden;
              }
              .icons {
                min-height: 165px;
                width: 100%;
                display: table;
                margin-top: 10px;
                user-select: none;
                .icon-wrapper {
                  display: table-cell;
                  text-align: center;
                  vertical-align: middle;
                  .iconfont {
                    color: #ffffff;
                    width: 4rem;
                    height: 4rem;
                    font-size: 3.5rem;
                    margin: .5rem 1rem;
                  }
                }
              }
              .folder-info{
                min-height: 165px;
                width: 100%;
                margin-top: 10px;
                text-align: center;
                user-select: none;
                .platform-title{
                  height: 35px;
                  margin-bottom: 3rem;
                  padding:3rem 1rem 2.5rem;
                  display: block;
                  color: #ffffff;
                  font-size: 24px;
                  font-weight: 700;
                  text-align: center;
                }
                .platform-counts{
                  font-size: 1rem;
                  color: #ffffff;
                  line-height: 1.4rem;
                  margin: .5rem 0;
                  em {
                    margin-right: .5rem;
                    font-size: 1.5rem;
                    font-style: normal;
                  }
                }
              }
            }
            .platform-title {
              height: 35px;
              padding: 0 1rem;
              display: block;
              color: #2d3238;
              font-size: 18px;
              font-weight: 700;
              text-align: center;
              white-space:nowrap;
              overflow: hidden;
              text-overflow:ellipsis;
            }
            .platform-close {
              position: absolute;
              height: 21px;
              top: 0;
              right: 0;
              display: none;
              user-select: none;
              z-index: 10;
              .close-btn {
                position: absolute;
                width: 20px;
                height: 20px;
                top: -6px;
                right: -2px;
                display: inline-block;
                z-index:2;
              }
              &:hover {
                width: 20%;
                .close-btn{
                  .iconfont{
                    //animation: myfirst 8s linear infinite;
                    color: #FE5842;
                  }
                }
                .close-text {
                  left: 1px;
                  transition: left 0.4s ease-in-out 0s;
                  border-color: #FE5842;
                }
              }
              .close-text {
                width: 55px;
                height: 20px;
                display: inline-block;
                line-height: 20px;
                color: #FE5842;
                padding: 0 6px;
                text-align: left;
                position: absolute;
                border:.1rem solid transparent;
                border-radius: 30px;
                left: 40px;
                top: 0px;
                transition: left 0.4s ease-in-out 0.1s;
                z-index: 1;
              }
            }
            &:hover {
              cursor: pointer;
              .platform-title, .platform-counts{
                color: @primary-color;
              }
              .platform-close{
               display: block;
              }
              .platforms-folder {
                .time {
                  color: @primary-color;
                }
                .icons {
                  .icon-wrapper {
                    .iconfont {
                      color: @primary-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .quotes-pagination{
        position: relative;
        margin: 2rem;
        .pagination{
          position: absolute;
          left: 50%;
          transform:translateX(-50%);
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}
